html, body {
    max-width: 100%;
    overflow: hidden;
}

#sidebar-wrapper {
  background-color: #f8eaff;
  width: 17%;
  position: absolute;
  padding: 20px;
  margin-top: -10px;
  right:0px;
  height: 100%;
  border: 2px solid brown;
  border-bottom: none;
  text-align: right;
  opacity: 0.9;
  z-index: 33;
}

#home-left {
  float: left;
  padding-left: 10px;
  display: inline;
  width: 328px;
  margin-right: 5px;
  height: 100%;
  border-right: 1px solid black;
}

#home-right {
  margin-left: 327px;
  padding-left: 16px;
  padding-right: 10px;
  width: 954px;
  display: inline-box;
  background-color: #f6f7de;
  height: 100%;
  opacity: 0.9;
}

#reader-wrapper {
  background-color: #f6f7de;
}

#reader-page {
  font-family: Georgia, Arial, Times;
  text-align: center;
  line-height: 130%;
  position: absolute;
  top:10px;
  padding-top: 5px;
  left:40px;
  width:70%;
  height: 100%;
  margin-top: 10px;
  background-color: white;
  box-shadow: -2px 1px 2px brown;
}

.pagination li a {
  font-size: 1.2em;
  color: brown;
  padding-left: 4px;
}

.red-text {
  color: brown;
  opacity: 0.8;
}

.gold-text{
  color: #8a8a00;
}

.article-text {
  font-size: 1.4em;
  line-height: 1.7;
  text-align: justify;
  color: #5d5d4b;
  font-family: Arial;
  padding-left: 12px;
  padding-right: 6px;
}

/*.page {
  rounded corners
  dropshadow left
}-->*/
